<div class="container mt-5 grid-margin stretch-card text-primary">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center">Sign Up</h4>

      <form class="forms-sample" #trainerRegisterForm="ngForm">
        <div class="form-group">
          <label for="fname">First Name :</label>
          <input
            #firstNameInput="ngModel"
            ngModel
            required
            minlength="3"
            maxlength="20"
            pattern="^[a-zA-Z0-9 _.-]*$"
            type="text"
            class="form-control"
            id="fname"
            placeholder="Name"
            name="fname"
          />
          <span
            *ngIf="firstNameInput.touched && firstNameInput.invalid && firstNameInput.errors?.['required']"
            style="color: red"
            class="alert"
            >This field is required *</span
          >
          <span
            *ngIf="firstNameInput.errors?.['minlength']"
            style="color: red"
            class="alert"
            >Please enter more than 3 characters *</span
          >
          <span
            *ngIf="firstNameInput.errors?.['maxlength']"
            style="color: red"
            class="alert"
            >Please enter less than 20 characters *</span
          >
          <span
            *ngIf="firstNameInput.errors?.['pattern']"
            style="color: red"
            class="alert"
            >Please enter alphabets characters only *</span
          >
        </div>

        <div class="form-group">
          <label for="lname">Last Name :</label>
          <input
            #lastNameInput="ngModel"
            ngModel
            required
            minlength="3"
            maxlength="20"
            pattern="^[a-zA-Z0-9 _.-]*$"
            type="text"
            class="form-control"
            id="lname"
            placeholder="lName"
            name="lname"
          />
          <span
            *ngIf="lastNameInput.touched && lastNameInput.invalid && lastNameInput.errors?.['required']"
            style="color: red"
            class="alert"
            >This field is required *</span
          >
          <span
            *ngIf="lastNameInput.errors?.['minlength']"
            style="color: red"
            class="alert"
            >Please enter more than 3 characters *</span
          >
          <span
            *ngIf="lastNameInput.errors?.['maxlength']"
            style="color: red"
            class="alert"
            >Please enter less than 20 characters *</span
          >
          <span
            *ngIf="lastNameInput.errors?.['pattern']"
            style="color: red"
            class="alert"
            >Please enter alphabets characters only *</span
          >
        </div>

        <div class="form-group">
          <label>gender :</label>
          <!-- <input
            #genderInput="ngModel"
            ngModel
            required
            type="text"
            class="form-control"
            id="exampleInputName3"
            placeholder="gender"
            name="gender"
          /> -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              #genderInput="ngModel"
              ngModel
              name="gender"
              id="male"
              value="male"
              checked
            />
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              #genderInput="ngModel"
              ngModel
              name="gender"
              id="female"
              value="female"
            />
            <label class="form-check-label" for="female"> Female </label>
          </div>

          <span
            *ngIf="genderInput.touched && genderInput.invalid && genderInput.errors?.['required']"
            style="color: red"
            class="alert"
            >This field is required *</span
          >
        </div>

        <div class="form-group">
          <label for="phone">phone :</label>
          <input
            #phoneInput="ngModel"
            ngModel
            required
            type="text"
            class="form-control"
            id="phone"
            placeholder="placeholder"
            name="phone"
          />
          <span
            *ngIf="phoneInput.touched && phoneInput.invalid && phoneInput.errors?.['required']"
            style="color: red"
            class="alert"
            >This field is required *</span
          >
        </div>
        <div class="form-group">
          <label for="email">email :</label>
          <input
            #emailInput="ngModel"
            ngModel
            required
            type="text"
            class="form-control"
            id="email"
            placeholder="placeholder"
            name="email"
          />
          <span
            *ngIf="emailInput.touched && emailInput.invalid && emailInput.errors?.['required']"
            style="color: red"
            class="alert"
            >This field is required *</span
          >
        </div>
        <div class="form-group">
          <label for="password">password :</label>
          <input
            #passwordInput="ngModel"
            ngModel
            required
            type="password"
            class="form-control"
            id="password"
            placeholder="placeholder"
            name="password"
          />
          <span
            *ngIf="passwordInput.touched && passwordInput.invalid && passwordInput.errors?.['required']"
            style="color: red"
            class="alert"
            >This field is required *</span
          >
        </div>

        <button
          type="submit"
          class="btn btn-primary mr-2"
          [disabled]="!trainerRegisterForm.valid"
          routerLink="/main/trainer/login"
          (click)="addTrainer(trainerRegisterForm)"
        >
          Register
        </button>
        <button class="btn btn-light" (click)="resetForm(trainerRegisterForm)">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>
