<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Add Exam</h2>
      <p>
        Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia
        id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam
        aperiam consequatur laboriosam nemo harum praesentium.
      </p>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <div class="col-12 grid-margin stretch-card text-primary">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Add New Exam</h4>

        <form class="forms-sample" #examForm="ngForm">
          <div class="form-group">
            <label for="exampleInputName1">Name :</label>
            <input
              #examNameInput="ngModel"
              ngModel
              required
              minlength="3"
              maxlength="191"
              pattern="^[a-zA-Z0-9 _.-]*$"
              type="text"
              class="form-control"
              id="exampleInputName1"
              placeholder="Name"
              name="examName"
            />
            <span
              *ngIf="examNameInput.touched && examNameInput.invalid && examNameInput.errors?.['required']"
              style="color: red"
              class="alert"
              >This field is required *</span
            >
            <span
              *ngIf="examNameInput.errors?.['minlength']"
              style="color: red"
              class="alert"
              >Please enter more than 2 characters *</span
            >
            <span
              *ngIf="examNameInput.errors?.['maxlength']"
              style="color: red"
              class="alert"
              >Please enter less than 192 characters *</span
            >
            <span
              *ngIf="examNameInput.errors?.['pattern']"
              style="color: red"
              class="alert"
              >Please enter alphabets characters only *</span
            >
          </div>

          <div class="form-group">
            <label for="course">Course Id :</label>
            <input
              #courseIdInput="ngModel"
              ngModel
              required
              placeholder="course"
              disabled
              [ngModel]="id"
              name="course_id"
              class="form-control"
            />
            <span
              *ngIf="courseIdInput.touched && courseIdInput.invalid && courseIdInput.errors?.['required']"
              style="color: red"
              class="alert"
              >This field is required *</span
            >
          </div>

          <div class="form-group">
            <label for="">Maximum score</label>
            <select
              #maxscoreInput="ngModel"
              ngModel
              placeholder="select maximum score"
              class="form-control"
              required
              name="max_score"
            >
              <option value="5">5</option>
              <option value="8">8</option>
              <option value="10">10</option>
            </select>
            <span
              *ngIf="maxscoreInput.touched && maxscoreInput.invalid && maxscoreInput.errors?.['required']"
              style="color: red"
              class="alert"
              >This field is required *</span
            >
          </div>

          <button
            type="submit"
            class="btn btn-primary mr-2"
            routerLink="/dashboard/exams"
            (click)="addExam(examForm)"
            [disabled]="!examForm.valid"
          >
            Submit
          </button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</main>
