body {
  background-color: #fff
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #888
}

::-webkit-scrollbar-thumb:hover {
  background: #555
}

/* .wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #651FFF
} */

.main {
  background-color: #eee;
  width: 320px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px 0px 0px 0px
}

.scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 325px
}

.img1 {
  border-radius: 50%;
  background-color: #66BB6A
}

.name {
  font-size: 10px
}

.msg {
  background-color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  color: #3e3c3c
}

.between {
  font-size: 8px;
  font-weight: 500;
  color: #a09e9e
}

.navbar {
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.form-control {
  font-size: 14px;
  font-weight: 400;
  width: 320px;
  height: 50px;
  /* border: none */
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.form-control:focus {
  box-shadow: none;
  overflow: hidden;
  border: none
}

.form-control:focus {
  box-shadow: none !important
}

.icon1 {
  color: #7C4DFF !important;
  font-size: 18px !important;
  cursor: pointer
}

.icon2 {
  color: #512DA8 !important;
  font-size: 18px !important;
  position: relative;
  left: 8px;
  padding: 0px;
  cursor: pointer
}

.icondiv {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 2px;
  position: relative;
  bottom: 1px
}
/* .scrollarea {
    min-height: 300px;
  }
   */
   /* body {
    background-color: #eee
  } */

.chat-btn {
    position: absolute;
    right: 14px;
    bottom: 30px;
    cursor: pointer
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #5fcf80;
    color: #fff;
    font-size: 22px;
    border: none
}

.wrapper {
    position: absolute;
    right: 20px;
    bottom: 5em;
    /* width: 300px; */
    max-width: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s;
    /* margin-right: 4rem; */
}

#check:checked~.wrapper {
    opacity: 1
}

.header {
    padding: 13px;
    background-color: #5fcf80;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff;
}

.chat-form {
    padding: 15px
}

.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}

.btn,
.btn:focus,
.btn:hover {
    background-color: blue;
    border: blue
}

#check {
    display: none !important
}


.fixed-div {
  /* position: fixed;
  top: 40em;
  right: 1em; */
  z-index: 99 !important;

}
/* 
@media (max-width:430px){
  .main {
    width: 100px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px 0px 0px 0px
  }
} */