    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
              <div class="content">
                <h3>Why Choose Mentor?</h3>
                <p>
                  Learner outcomes on Coursera
                  87% of people learning for professional development report
                   career benefits like getting a promotion,
                   a raise, or starting a new career
                </p>
                <div class="text-center">
                  <a routerLink="/main/about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-receipt"></i>
                      <h4>Trusted content</h4>
                      <p>Created by experts, Mentor’s library of trusted practice and lessons covers hundreds of lessons Always free for learners.</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-cube-alt"></i>
                      <h4>Personalized learning</h4>
                      <p>Students practice at their own pace, first filling in gaps in their understanding their learning.</p>
                    </div>
                  </div>
                  <div class="col-xl-4 d-flex align-items-stretch">
                    <div class="icon-box mt-4 mt-xl-0">
                      <i class="bx bx-images"></i>
                      <h4>Empowering tools</h4>
                      <p> teachers can identify gaps in their students’ understanding, tailor instruction, and meet the needs of every student.</p>
                    </div>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End Why Us Section -->
  
