<app-nav-bar></app-nav-bar>
<div class="container-scroller">
  <app-side-bar></app-side-bar>    
  <div class="container-fluid page-body-wrapper">
  <div class="main-panel">
<router-outlet></router-outlet>
</div></div>
<app-stfooter class="fixed-bottom"></app-stfooter> 
</div>
    <!-- <app-nav-bar></app-nav-bar>
    <div class="container-scroller">
      <app-side-bar></app-side-bar>    
      <div class="container-fluid page-body-wrapper">
<app-courses></app-courses>
</div>
</div>
      <app-stfooter class="fixed-bottom"></app-stfooter>  -->

<!-- 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Breeze Admin</title>

    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <div class="container-scroller">
    <app-side-bar></app-side-bar>    
    <div class="container-fluid page-body-wrapper">

    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>

    </div>
    </div>

    
    <app-stfooter class="fixed-bottom"></app-stfooter> -->