      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
              <img src="assets/main/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
              <h3>You can learn anything</h3>
              <p class="fst-italic">
                We’re a nonprofit with the mission to provide a free, world-class education for anyone, anywhere.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Get job-ready for an in-demand career.</li>
                <li><i class="bi bi-check-circle"></i> Find a top degree that fits your life</li>
                <li><i class="bi bi-check-circle"></i> Over 200 courses in topics like business analytics, graphic design, Python, and more.</li>
              </ul>
              <p>
                Learn without limits
                Build new skills for that “this is my year” feeling with courses, certificates,
                 and degrees from world-class universities and companies.
              </p>
  
            </div>
          </div>
  
        </div>
      </section>
      <!-- End About Section -->
  
