
      <div class="col-lg-12 grid-margin stretch-card " >
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Admin Table</h4>
            <button type="button" class="btn btn-primary btn-fw col-sm-12 mb-3" routerLink="/dashboard/add-admin"> Add New Admin </button>

            <div class="table-responsive">
                <table class="table table-striped ">
                <thead>
                  <tr >
                    <th> ID</th>
                    <th> Image</th>
                    <th> Admin Name</th>
                    <th> Email</th>
                    <th> Password </th>
                    <th> Update</th>
                    <th> Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let admin of AdminsArray; let i=index" >
                    <td>{{admin.id}}</td>
                    <td class="py-1">
                      <img [src]="admin.img" alt="image" />
                    </td>
                    <td>{{admin.fname}} {{admin.last_name}}</td>
                    <td>{{admin.email}}</td>
                    <td>{{admin.pass}}</td>
                    <td>
                      <button type="button" class="btn btn-warning ">Update</button>
                      
                    </td>
                    <td>                     
                     <button type="button" class="btn btn-inverse-danger">Delete</button>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            <!-- <button type="button" class="btn btn-primary btn-fw col-sm-12"> Add New Admin </button> -->
            </div>
          </div>          
        </div>
      </div>
  
  
  