<main id="main" data-aos="fade-in" >
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container" >
        <!-- <form  method="get"> -->
        <a
          type="submit"
          id="submitBtn"
          class="btn text-light m-5 border-0"
          href="/main/trainer/login"
         
        >
          Login as Trainer
        </a>
        <!-- </form> -->
        <!-- <form method="get"> -->
        <a
          type="submit"
          id="submitBtn"
          class="btn text-light m-5 border-0"
          href="/main/login/student"
         
        >
          Login as Student
        </a>
      <!-- </form> -->
      </div>
    </div>
  </main>
  