<main id="main" data-aos="fade-in" >

      <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center register">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>

        <input type="button" value="Login as Trainer" (click)="clickTrainer()" style="background-color: #56be75;" class="get-started-btn border-0 font-weight-medium fw-bolder text-light p-4 fs-5 m-4" >
        <input type="submit" value="Login as Student" (click)="clickstudent()"style="background-color: #56be75;" class="get-started-btn border-0 font-weight-medium fw-bolder text-light p-4 fs-5 m-4" >

    </div>
  </section><!-- End Hero -->
  </main>
