
    <div class="col-lg-12 grid-margin stretch-card " >
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Courses Table</h4>

          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr >
                  <th> ID</th>
                  <th> Image</th>
                  <th> Course Name</th>
                  <th> Category</th>
                  <th> Trainer</th>
                  <th> Price</th>
                  <th> content</th>
                  <th> Update</th>
                  <th> Delete</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let course of Arr | paginate: { itemsPerPage: 5, currentPage: p }; let i=index" >
                  <td>{{course.id}}</td>
                  <td class="py-1">
                    <img [src]= 'url+course.img'/>
                  </td>
                  <td>{{course.name}}</td>
                  <td>{{course.category?.name}}</td>
                  <td>{{course.trainer?.fname}}</td>
                  <td> {{course.price}}</td>
                  <td>
                      <a class="h3 text-success"  [routerLink]="'/dashboard/contents/'+course.id+'/'+course.name"> <i class=" mdi mdi-eye"></i> </a>

                     
                    </td>
                  <td>
                    <a class="h3 text-warning"  [routerLink]="'/dashboard/update-course/'+course.id"> <i class="mdi mdi-tooltip-edit"></i> </a>

                  </td>

                  <td>
                    <a class="h3 text-danger" style="cursor: pointer;" (click)="deleteCourse(course.id!)"> <i class="mdi mdi-delete-forever "></i> </a>

                  </td>

                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" style="float: right; margin: 10px;"></pagination-controls>

          </div>
        </div>

      </div>
    </div>


