<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container" >
      <!-- <form  method="get"> -->
      <a
        type="submit"
        id="submitBtn"
        class="btn text-light m-5 border-0"
        href="/main/trainer/register"
      >
        Register as Trainer
      </a>
      <!-- </form> -->
      <!-- <form method="get"> -->
      <a
        type="submit"
        id="submitBtn"
        class="btn text-light m-5 border-0"
        href="/main/register/student"
      >
        Register as Student
      </a>
    <!-- </form> -->
    </div>
  </div>
</main>
