<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container" style="background-color: #5fcf80;">
      <!-- <form  method="get"> -->
      <a
        type="submit"
        id="submitBtn"
        class="btn text-light mr-2 border-0"
        href="/main/trainer/register"
        style="background-color: #5fcf80"
      >
        Register as Trainer
      </a>
      <!-- </form> -->
      <!-- <form method="get"> -->
      <a
        type="submit"
        id="submitBtn"
        class="btn text-light mr-2 border-0"
        href="/main/register/student"
        style="background-color: #5fcf80"
      >
        Register as Student
      </a>
    <!-- </form> -->
    </div>
  </div>
</main>
