<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2 class="my-2">Edit Course Details</h2>
      <!-- <p>
        Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia
        id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam
        aperiam consequatur laboriosam nemo harum praesentium.
      </p> -->
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-12 grid-margin stretch-card text-primary">
        <div class="card main-forms">
          <div class="card-body">
            <h4 class="card-title text-center">Update Course</h4>

            <form class="forms-sample" [formGroup]="form">
              <div class="form-group">
                <label>Name :</label>
                <input
                  formControlName="name"
                  required
                  minlength="3"
                  maxlength="191"
                  pattern="[A-Za-z ]+"
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Name"
                  name="name"
                />
                <div *ngIf="f['name'].errors?.['minlength']" style="color: red">
                  name must be is atleast 3 char
                </div>
                <div *ngIf="f['name'].errors?.['maxlength']" style="color: red">
                  name must be is max 10 char
                </div>
                <div
                  *ngIf="f['name'].errors?.['required']&&f['name'].touched"
                  style="color: red"
                >
                  Name is required
                </div>
              </div>

              <div class="form-group">
                <label>Image upload :</label>
                <div class="input-group col-xs-12">
                  <input
                    formControlName="image"
                    type="file"
                    name="image"
                    id="image"
                    class="form-control"
                    (change)="uploadImage($event)"
                  />
                </div>
                <div
                  *ngIf="f['image'].errors?.['required']&&f['image'].touched"
                  style="color: red"
                >
                  image is required
                </div>
                <div *ngIf="f['image'].errors?.['pattern']" style="color: red">
                  must upload image
                </div>
              </div>

              <div class="form-group">
                <label>Category :</label>
                <input type="text" [value]="course.category?.name" disabled class="d-block" />
              </div>

              <div class="form-group">
                <label>Price :</label>
                <input
                  formControlName="price"
                  type="number"
                  required
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="price"
                  name="price"
                />
                <div
                  *ngIf="f['price'].errors?.['required']&&f['price'].touched"
                  style="color: red"
                >
                  price is required
                </div>
              </div>

              <div class="form-group">
                <label>Course Duration</label>
                <input
                  formControlName="duration"
                  type="number"
                  required
                  placeholder="duration"
                  class="form-control"
                  name="duration"
                />
                <div
                  *ngIf="f['duration'].errors?.['required']&&f['duration'].touched"
                  style="color: red"
                >
                  duration is required
                </div>
              </div>

              <div class="form-group">
                <label>Prerequisites :</label>
                <input
                  formControlName="preq"
                  required
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="preq"
                  name="preq"
                />
                <div
                  *ngIf="f['preq'].errors?.['required']&&f['preq'].touched"
                  style="color: red"
                >
                  preq is required
                </div>
              </div>

              <div class="form-group">
                <label>Course Description :</label>
                <input
                  formControlName="desc"
                  required
                  type="text"
                  class="form-control"
                  id="exampleInputName1"
                  placeholder="Name"
                  name="desc"
                />
                <div
                  *ngIf="f['desc'].errors?.['required']&&f['desc'].touched"
                  style="color: red"
                >
                  description is required
                </div>
              </div>

              <button
              id="submitBtn"
                type="submit"
                class="btn main-btns text-light mr-2"
                (click)="updateCourse(course.id!, form)"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
