
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a routerLink="/main/home">Mentor</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar navbar-expand-lg order-last order-lg-0">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler bi bi-list" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a class="active" routerLink="/main/home">Home</a>
                        <a routerLink="/main/about">About</a>
                        <a routerLink="/main/courses">Courses</a>
                        <a routerLink="/main/trainers">Trainers</a>
                       <a routerLink="/main/categories">Categories</a>
                        <a routerLink="/main/contact">Contact</a>
                     
                    </div>
                </div>
            </div>
        </nav>

      <a routerLink="/main/register/student" class="get-started-btn">Register</a>
      <a href="/main/login" class="get-started-btn">Login</a>

    </div>
  </header><!-- End Header -->
