<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2 class="my-2">" ### " Exam Questions</h2>
        <!-- <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia optio
          ipsam commodi, quisquam aliquam deleniti dolorem laboriosam sunt ratione
          nostrum officiis totam id vitae, ad dolorum similique voluptatibus
          repellendus laborum.
        </p> -->
      </div>
    </div>
    <!-- End Breadcrumbs -->
    <div class="container">
      <div class="row mt-5">


    <div class="col-lg-12 grid-margin stretch-card " >
        <div class="card main-forms">
          <div class="card-body">
            <h4 class="card-title text-center">Questions Table</h4>
            <button type="button" class="btn main-btns text-light btn-fw col-sm-12 mb-3" [routerLink]="'/main/trainer/exam/'+id+'/add-question'" > Add New Question </button>

            <div class="table-responsive">
              <table class="table table-striped text-center">
                <thead>
                  <tr >
                    <th> ID</th>
                    <th> Question</th>
                    <th> Choices</th>
                    <th> Answer</th>
                    <th> Score</th>
                    <th> Update</th>
                    <th> Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let question of QuetionExam.questions!| paginate: { itemsPerPage: 3, currentPage: p }; let i=index" >
                    <td>{{question.id}}</td>
                    <td>{{question.header}}</td>
                    <td>
                        <ul>
                            <li>{{question.choice_1}}</li>
                            <li>{{question.choice_2}}</li>
                            <li>{{question.choice_3}}</li>
                            <li>{{question.choice_4}}</li>
                        </ul>
                    </td>
                    <td>{{question.answer}}</td>
                    <td>{{question.score}}</td>
                    <td>
<a class="h3 text-warning"  [routerLink]="'/main/trainer/exam/'+id+'/update-question/'+question.id"><i class="mdi mdi-tooltip-edit font-weight-medium"></i> </a>

                    </td>
                    <td>
                     <a class="h3 text-danger" style="cursor: pointer;" (click)="deleteQestion(question.id!)"> <i class="mdi mdi-delete-forever "></i> </a>
                    </td>

                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event" style="float: right; margin: 10px;"></pagination-controls>

            <!-- <button type="button" class="btn btn-primary btn-fw col-sm-12"> Add New Question </button> -->
            </div>
          </div>

        </div>
      </div>


      </div>
    </div>
</main>