/* You can add global styles to this file, and also import other style files */
.main-forms{
    border-color:#5fcf80 !important; 
    border-width: 3px !important;
}

.main-btns{
    background-color: #5fcf80 !important;
}

a:hover{
    text-decoration: none;
}

pagination-controls /deep/ .ngx-pagination .current {
    background: #5fcf80 !important;
  }