
     <!-- ======= Hero Section ======= -->
     <app-hero></app-hero>
     <!-- End Hero -->
     <main id="main">
    <!-- ======= About Section ======= -->
    <app-about></app-about>
    <!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <app-counts></app-counts>
    <!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
   

    <app-why-us></app-why-us>
    <!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <app-features></app-features>
    <!-- End Features Section -->

    <!-- ======= Popular Courses Section ======= -->
    <app-popular-cources></app-popular-cources>
    <!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <app-trainersmain-component></app-trainersmain-component>
    <!-- End Trainers Section -->
    </main>